.get-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 127px 1fr 40px;
}

.get-form__btn {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.get-form__report-btn {
  width: 180px;
  min-height: 40px;
  border-radius: 3px;
  background-color: $link;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $basic-white;
}

.get-form__save-btn {
  color: $medium-grey;
  width: 90px;
  min-height: 40px;
  background-color: $basic-white;
  border: 1px solid $input-grey;
  border-radius: 3px;
}

.get-form__info {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.get-form__text {
  width: 285px;
  min-height: 80px;
  padding-left: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $medium-grey;
  background-image: url(../img/scale.svg);
  background-repeat: no-repeat;
  background-position-y: 5px;

}

.get-form__info-btn {
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/info.svg");
  position: absolute;
  top: 17px;
  right: 30px;
}
